<h1><u>Editing Item</u></h1> 

<h1><%= @item.description %></h1>



<%= form_for @item, url: {action: "update"} do |f| %>
    <% if @item.errors.any? %>
      <div class="error_messages">
        <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
  
        <ul>
        <% @item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </div>

    <div class="field">
      <%= f.label :status %><br />
      <%= f.text_field :status %>
    </div>

    <div>
        <h4>Item Categories:</h4>
        <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
            <p>
                <%= b.label %>
                <%= b.check_box %>
            </p>
        <% end %> 
    </div>

    <div>
        <h4>Check if fragile:</h4>
        <%= f.collection_check_boxes(:categorization_ids, @item.categorizations.all, :fragile, :category_name) do |b| %>
            <p>
                <%= b.label %>
                <%= b.check_box %>
            </p>
        <% end %> 
    </div>

    <div class="actions">
    <%= f.submit 'Update Item' %>
    </div>
<% end %>



<p>
<%= link_to "Back to item.", list_item_path %>  
<br>
<%= link_to "Back to list.", @item.list %>
</p>