<h1><%= @item.description %></h1>
<p><h2>Status: <%= @item.status %></h2></p>

<h3>Categories:</h3>
<ul>
    <% @item.categories.each do |category| %>
        <li><%= category.name %></li>
    <% end %> 
</ul>

<h4>Item Category / Fragile?:</h4>
<ul>
        <% @item.categorizations.each do |categorization| %>
            <li><%= categorization.category_name %> (<%= categorization.fragile ? "Yes" : "No" %>)</li>   
        <% end %> 
</ul>

<p>
<%= link_to "Edit this item.", edit_list_item_path(@item) %>
<br>
<%= link_to "Back to list.", @item.list %>
</p>